@font-face {
    src: url(https://code.s3.yandex.net/web-code/fonts/SuisseIntl-Book.woff);
    font-family: "Suisse";
    font-weight: normal;
}

@font-face {
    src: url(https://code.s3.yandex.net/web-code/fonts/SuisseIntl-Bold.woff);
    font-family: "Suisse";
    font-weight: bold;
}

html {
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

body {
    user-select: none;
    background-color: #fff;
    color: white;
    position: relative;
    min-height: 100%;
    margin: 0 auto;
    font-family: "Suisse";
    box-sizing: border-box;
    padding: 36px;
}

.header {
    #display: flex;
    align-items: baseline;
    justify-content: space-between;
}

p {
    color: black;
}

.site-name {
    color: #000;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    text-align: center;
}

.buutton-container{
    justify-content: center;
    display: flex;
}

.button {
    position: absolute;
    bottom: 27px;
    display: none;
    color: black;
    width: 160px;
    height: 40px;
    padding-top: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    transition: opacity 0.2s;
    animation: showBlock 0.5s linear forwards;
}

.buutton-container:hover {
    opacity: 0.5;
}

.image {
    width: 80%;
    display: block;
    margin: 60px auto 50px;
}

.advice {
    font-size: 42px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 70px;
}

.footer {
    /*align-items: center;*/
    /*display: flex;*/
}

.logo {
    width: 100px;
    position: absolute;
    /*display: inline-block;*/
    right: 0;
    bottom: 0;
}

.author {
    color: #000;
    font-size: 16px;
    margin: 0;
    position: absolute;
    bottom: 36px;
    display: inline-block;
}

/*.content {*/
/*    font-size: 0;*/
/*    width: 790px;*/
/*    margin: 50px;*/
/*    display: inline-block;*/
/*}*/

.card {
    float: left;
    background-color: #fff;
    filter: grayscale(100%);
    /*width: 20%;*/
    width: 250px;
    height: 450px;
    color: white;
    margin: 57px;
    /*#margin-left: 5%;*/
    /*#margin-bottom: 5%;*/
    padding: 45px 45px 25px 45px;
    display: block;
    /*#margin-right: 7.5%;*/
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 0.2s;
}

/*.ozon-card-background{*/
/*    width: 250px;*/
/*    height: 200px;*/
/*}*/

.ozon-like-btn:hover {
    #opacity: 0.2;
    box-shadow: 0px 0px 20px 2px rgba(25, 107, 255, 0.9);
    filter: grayscale(0%);
}

.yandex:hover {
    box-shadow: 0px 0px 20px 2px rgba(252, 202, 0, 0.9);
    filter: grayscale(0%);
}

.google:hover {
    box-shadow: 0px 0px 20px 2px rgba(52, 168, 83, 0.9);
    filter: grayscale(0%);
}

.ozon-inputs {
    float: left;
    display: none;
    animation: showBlock 0.5s linear forwards;
}

.yandex {
    animation: showBlock 0.5s linear forwards;
}

.google {
    animation: showBlock 0.5s linear forwards;
}

@keyframes showBlock {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.ozon:active {
    box-shadow: 0px 0px 100px 0px rgba(25, 107, 255, 0.9);
}

.card-title {
    color: black;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 10px;
}

.card-text {
    color: #000;
    font-size: 16px;
    animation: showBlock 0.5s linear forwards;
}

.card-image{
    width: 100%;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    transition: 180ms box-shadow ease-in-out;
}

input:focus{
    outline: 3px solid transparent;
}

.ozon-id:focus, .ozon-token:focus {
    border-color: rgba(25, 107, 255, 0.7);
    box-shadow: 0 0 0 2px rgba(25, 107, 255, 0.7);
}

.yandex-func-token:focus, .orgs:focus {
    border-color: rgba(252, 202, 0, 0.7);
    box-shadow: 0 0 0 2px rgba(252, 202, 0, 0.7);
}

.google-creds:focus, .table-name:focus, .sheet-name:focus{
    border-color: rgba(52, 168, 83, 0.7);
    box-shadow: 0 0 0 2px rgba(52, 168, 83, 0.7);
}

.ya.card-image{
    margin-top: 38px;
    margin-bottom: 36px;
}

.go.card-image{
    margin-top: 38px;
    margin-bottom: 29px;
}

.instruction{
    right: 50px;
    bottom: 30px;
    position: absolute;
}

select{
  padding: 13px 30px;
  border-radius:5px;
}

select:focus{
  outline:none;
}

.orgs {
    display: none;
    animation: showBlock 0.2s linear forwards;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: white;
}